<% @posts.each do |post| %>
  <p><%= post.status %></p>
  <p><%= post.votes.count %></p>
  <p><%= post.content %></p>
  <p><small><%= post.updated_at %></small></p>

  <%post.comments.each do |comment| %>
    <p><%=comment%></p>
  <% end %>

<% end %>
