<% @posts.each do |post| %>

  <form method="post" action="/posts/upvote">
    <input type="hidden" name="post_id" value="<%=post.id%>">
    <input type="submit" value="Vote">
  </form>

  <p><%= post.status %></p>
  <p><%= post.votes.count %></p>
  <p><a href="/posts/<%=post.id%>/show"><%= post.content %></a></p>
  <p><small><%= post.created_at.localtime.strftime("%I %M %p %B %d") %></small></p>
  <p>UPDATED AT<small><%= post.updated_at.localtime.strftime("%I %M %p %B %d") %></small></p>
  <% if post.file.url != "" %>
    <a href = "/posts/<%=post.id%>/show">
        <p><img src="<%=post.file.url%>" ></p>
    </a>
  <% end %>



  <form method="post" action="/posts/comment">
    <textarea type="text" name="content" value="<%=post.content%>" maxlength="144"></textarea>
    <input type="hidden" name="post_id" value="<%=post.id%>">

    <input type="submit" value="submit">
  </form>


  <%post.comments.each do |comment| %>
    <p><%=comment.content%></p>
    <hr/>
  <% end %>
  <hr/>


<% end %>
